# Tuple
They are used to store multiple items in a single variable.

A tuple is a collection which is ordered and unchangeable.
It is written with round brackets.

In [10]:
fruits = ("apple", "banana", "cherry") #Closed barckets          # Standard Method
print(fruits)                     #it is immutable and we can store different tyoes of data

('apple', 'banana', 'cherry')

In [3]:
ints = tuple([1,2,3,4,5,9,7,2,0])                                 # Function Method

In [4]:
ints

(1, 2, 3, 4, 5, 9, 7, 2, 0)

In [9]:
fruits = ("apple", "banana", "cherry","banana")                  # It allows Allows Duplicates
print(fruits)

('apple', 'banana', 'cherry', 'banana')

In [6]:
# Count() Method

nums = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

nums.count(6)  #counts how many times a specific element has occured.

1

In [7]:
# Index() Method

nums = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

nums.index(5) #gives the index value of the element.

5

In [8]:
# Min() & Max() Method

nums = (1, 3, 7, 99, 7, 5, 4, 6, 8, 5)

min(nums) # This function gives the min value from the data
max(nums) # This function returns maximum value from the tuple.

99

# Dictionary
Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates unlike list and tuples

In [12]:
car = {"brand": "Ford","model": "Mustang","year": 1964} # here the data is stored in key:value pairs.

In [13]:
# # Get() Method
car.get("year") # In this method we use key value to get the value of it as output.

1964

In [14]:
# # items() Method
car.items() # It is combination of key and value pairs, we can see the keys and values of the data.

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [16]:
# # key() Method
car.keys() # We get to see the only keys.

dict_keys(['brand', 'model', 'year'])

In [18]:
# # values() Method
car.values() #We get to see only the values of the dictionary.

dict_values(['Ford', 'Mustang', 1964])

# Two pop methods.
1. simple pop
2. Item pop

In [34]:
car = {"brand": "Ford","model": "Mustang","year": 1964} # here the data is stored in key:value pairs.

In [35]:
# pop() Method
# car
car.pop("year") # We are removing the year key value and pair using the pop method.
print(car)

{'brand': 'Ford', 'model': 'Mustang'}

In [36]:
# popitem() Method
car.popitem() # we don't have to pass the item in the fuction it automatically delete the last element of key and value pair the dictionary.
print(car)

{'brand': 'Ford'}

In [30]:
# update() Method

car.update({"color": "White"}) #Here we are adding key and vlaue pair into our dictionary
print(car)

{'color': 'White'}

In [31]:
car

{'color': 'White'}

In [37]:
# clear() Method

car.clear() # It is used to clear the whole dictionary and give the empty dictionary.
# print(car)

In [33]:
car

{}

# Set
Sets are used to store multiple items in a single variable.

Sets are written with curly brackets.

In [50]:
fruits = {"apple", "banana", "cherry"} #No duplicates, updation is possible.

In [51]:
fruits.add("orange") # This functiion is used to add elements to the set, and set is not ordered unlike list and tuple.
print(fruits)

{'cherry', 'apple', 'orange', 'banana'}

In [52]:
# pop()  This method is used to delete random element.

fruits.pop()
print(fruits)

{'apple', 'orange', 'banana'}

In [54]:
# remove() Here we are removing a specific element from the list

fruits.remove("banana")
print(fruits)

{'apple', 'orange'}

In [56]:
type(fruits)

set

In [57]:
fruits = {"apple", "banana", "cherry"} #x set
company = {"google", "microsoft", "apple"} #y set

# difference()

print(company.difference(fruits))       # Output will be from LHS of dot set only, not common

{'google', 'microsoft'}

In [58]:
# intersection()

print(company.intersection(fruits))      # Print common element from both the sets

{'apple'}

In [59]:
# union()

print(company.union(fruits))        # Combine both sets together to form new set

{'cherry', 'google', 'apple', 'microsoft', 'banana'}

In [60]:
# upate()
company.update(fruits)

In [61]:
fruits

{'apple', 'banana', 'cherry'}

In [62]:
company

{'apple', 'banana', 'cherry', 'google', 'microsoft'}