
# List and it's Methods

Lists are used to store multiple items in a single variable.

*   Lists are used to store multiple items in a single variable.
*   It is a collection which is ordered, changeable and allows duplicate members.

**List Methods**


append(), sort(), reverse(), remove(), pop(), insert(), index(), extend(), count(), copy(), clear()

In [9]:
fruits = ['apple', 'cherry', 'banana']

fruits.append("orange") # we will be adding something to our list in the last position.

fruits.sort() # sorting the numbers according to ascending and descending order.

fruits.reverse() # It will reverse the elements completely

fruits.remove("banana") # Removes an element from the list

fruits.pop(1) #Removes the element from the list, you can index which element you want to remove.

fruits.insert(1, "watermelon") # Adds elements to the list in the given position.

fruits.index("orange") #It gives the index position of the element is given

others = ['pineapple', 'strawaberry', 'guava','cherry','pineapple'] # Here we are declaring the list

fruits.extend(others) #Here we are adding the whole list towards the list

fruits.count("cherry") # this function counts how many times the cherry occurs.

fruits.copy() # it will create a copy of the original list.

fruits.clear() #Elements of the list will be deleted completely

In [10]:
print(fruits)

[]

# String and it's Methods

*   All string methods returns new values. They do not change the original string.

**String Methods**


*   isalpha(), isalnum(), index(), find(), count(), capitalize(), isdigit(), islower(), isnumeric()
*   endswith(), upper(), title(), swapcase(), strip(), startswith(), split(), join(), lower(), replace()

In [25]:
txt = "hello, and welcome to our course."
a = txt.capitalize() # It capitalizes first letter of the  first word
print(a)

txt = "I am from India and born in Guntur, Andhrapradesh , India"
b = txt.count("India") # It sees how many times the word has occured in the text.
print(b)

txt = "I love apples, apple are my favorite fruit"
c = txt.find("my") # If the "find" function doesnot find the world in the text, it gives "-1" as answer
print(c)

d = txt.index("apple") #in index if the word is not found it gives an error
print(d) #preferebly use index not find.

txt = "hello, my name is Peter, I am 26 years old"
e = txt.split(',') # Splitting the sentence into small chunks.
print(e)

Hello, and welcome to our course.
2
25
7
['hello', ' my name is Peter', ' I am 26 years old']

In [26]:
txt = "I love apples, apple is my favorite fruit"

In [28]:
txt.find('banana') #if the word is not found we get -1 as output

-1

In [30]:
txt.index('apple')

7

In [34]:
txt = "Company12"
name = txt.isalnum() # both alphabets and numbers
print(name)

txt = "Company"
alpha = txt.isalpha() # only alphabets
print(alpha)

txt = '50800' #use single quote
num = txt.isdigit() #only numbers
print(num)

names = ["John", "Peter", "Vicky"]
joined = "_".join(names) #Join all the elements in the list
print(joined)

txt = "I love sports" #Only text.
result = txt.replace("sports", "cricket") # using this we can replace the text
print(result)

True
True
True
John_Peter_Vicky
I love cricket

#Condition starts with and ends with

In [38]:
#Useful for data cleaning starts with and ends with.
txt = "Hello, welcome to my world."
start = txt.startswith("?")
end = txt.endswith("apple")

In [39]:
start, end

(False, False)

# Python Conditional Statements


*   If , elif, else statements

In [43]:
b , a = 33 , 200 # multi variable assignment.

# print(b>a)

if b > a:
  print(True)
else:
  print(False)

False

In [44]:
print(b)

33

In [48]:
Teja , kiran = 90 , 80

if Teja > kiran:
  print("Teja scores greater than kiran")
elif Teja == kiran:
  print("Both scores equally")

vinod scores greater than aman

In [51]:
if Teja > kiran:
  print("Teja scores greater than kiran")
elif Teja == kiran:
  print("Both scores equally")
else:
  print('kiran scores greater than Teja')

Teja scores greater than kiran

In [52]:
marks = 72

if marks > 35:
  print("He is Pass")
  if marks > 60:
    print("He is in Distinction")
  else:
    print("He is in Mid Range")
else:
  print('Sadly, He is Fail')

He is Pass
He is in Distinction