# For Loop

*   It is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).
*   Using Break & Contiue keyword

In [1]:
fruits = ["apple", "banana", "cherry",'pineappple','mango'] # List

for i in fruits:
  print(i)

apple
banana
cherry
pineappple
mango

In [3]:
for x in fruits:
  print(x)
  if x == "banana":
    break                                 #Break is used to stop the iteration.

apple
banana

In [4]:
for x in fruits:
  if x == "cherry":
    continue                               #Continue is used to skip the element.
  print(x)

apple
banana
pineappple
mango

# While Loop

*   With the while loop we can execute a set of statements as long as a condition is true.
*   Using Break & Contiue keyword

In [6]:
num = 1

while num < 6:  # 6 is excluded number
  print(num)
  num += 1

1
2
3
4
5

In [7]:
num = 1

while num < 6:
  print(num)
  if num == 3:
    break
  num = num + 1

1
2
3

In [8]:
num = 0

while num < 10:
  num += 1
  if num == 5:
    continue
  print(num)

1
2
3
4
6
7
8
9
10

# Python Functions

*   A function is a block of code which only runs when it is called.

*   Advanced Functions - lambda, map, zip

In [9]:
def intro():                     # Here we are defining a Function Defining
  value = 6
  return value**2

In [11]:
intro()       # here we are doing a  Function Calling

36

In [12]:
def my_ID(name):                    # Function with Arguments
  print("CR001_" + name)

In [13]:
my_ID("Sai")

CR001_Sai

#Advance statements.

In [15]:
#def add(a,b,c):
  #return a+b+c


# Using Lambda Function

add = lambda a,b,c: print(a+b+c)

In [16]:
add(4, 5, 5)

14

In [ ]:
# add(4,5,1)

In [17]:
# Map Function

nums = [1, 2, 3, 4, 5]

def sq(n):
    return n*n

# sq(2)

square = map(sq, nums) # mapping square function with the list

print(list(square))

[1, 4, 9, 16, 25]

In [18]:
# Zip Function

name = ["Manjeet", "Nikhil", "Shambhavi"]
ID = [4, 1, 3]

mapped = zip(name, ID)

print(list(mapped))

[('Manjeet', 4), ('Nikhil', 1), ('Shambhavi', 3)]

In [19]:
type(mapped)

zip