**Python Basic Terms**


*   Syntax (Valid & Invalid)
*   Comments

In [1]:
address = 'Ravi kiran , guntur : 61109'    # This is my address
print(address)                              # This is the print statement

Ravi kiran , guntur : 61109

In [2]:
print('Guntur') #Printing the stting guntur

Guntur

In [3]:
print(address) #printing my address

Ravi kiran , guntur : 61109

**Python Data Types, Type Casting & Variables**


*   **Text Type:**	str
*   **Numeric Types:**	int, float
*   **Sequence Types:**	list, tuple, range
*   **Mapping Type:**	dict
*   **Set Types:**	set
*   **Boolean Type:**	bool

In [4]:
name = 'Ravi'
age = 27
height = 5.4
#These are containers where they store multiple type of values
profile = ['Ravi',27,5.4,60,'computational linguist']         # List Method can take different data types
profile_2 = ('Ravi',28,5.5,55,'Student')        # Tuple Method can take different methods
profile_3 = {'Name':'Ravi','Role':'linguist','age':27,'City':'Delhi'} # Dictionary Method
profile_4 = {'preethi',55.6,'Human resource', 5.3}     # Set Method can store multiple values

In [5]:
profile_3.values()

dict_values(['Ravi', 'linguist', 27, 'Delhi'])

In [6]:
print(profile_4)

{'Human resource', 5.3, 'preethi', 55.6}

In [7]:
type(profile_4)

set

In [8]:
student1 = ('Rishika', 21, 90.2)    # Cannot modify it or tuples are immutable immutable it is used for passwords.
student2 = ['Rishika', 21, 90.2]    # Can modify it or lists are mutable
student3 = {'Rishika', 21, 90.2}    # Random Output or sets are not ordered

In [9]:
type(student3)

set

In [10]:
print(student3)

{90.2, 21, 'Rishika'}

In [11]:
student = {'Name':'Rishika', 'Age': 21, 'Percent':90.2} # in dictionary, comma is used to seperate the values and colon is used to connect the values.

In [12]:
student.values()

dict_values(['Rishika', 21, 90.2])

In [13]:
bool(7) #only zero is false

True

In [14]:
age = str(2) # Changing the type of the variable

In [15]:
type(age)

str

**Python Operators**

*   Arithmetic operators
*   Assignment operators
*   Comparison operators
*   Logical operators
*   Membership operators

In [18]:
# Arithmetic Operators (+,-,*,/,%,**)                        # Used with numeric values to perform common mathematical operations

x = 5
y = 8

# print(x+y, x-y, x*y, x/y, x%y, x**y)

print(x*y) #Multiplying x and y
print(x+y) # Addition of x and y
print(x-y) #Substraction of x from y
print(x/y) #Divison of x by y

40
13
-3
0.625

In [19]:

# Assignment Operators (=,+=,-=,*=,/=,%=,**=)                # Used to assign values to variables

x, y = 5, 8 #Multiple assignment


# x = x - y
# x -= y       # x = x - y/


x = x * y # We are  using the multiplication on this variables.


print(x)

40

In [20]:
# Comparison Operators (==,!=,<,>,<=,>=)                     # Used to compare two values

# print(x == y, x != y, x < y, x > y, x <= y, x >= y)
x, y = 5, 8

x >= y

False

In [21]:
# Logical Operators (==,!=,<,>,<=,>=)                        # Used to combine conditional statements

# print(x and y)

case1 =(x < y) or (x == y)

print(case1,not(case1))

True False

In [22]:
# Membership Operators (==,!=,<,>,<=,>=)                     # Used to test if a sequence is presented in an object

# print(x in y, x not in y)

x = [1,2,3,4,5]
y = 6

y not in x

True