<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

üí´ `immutable` => `can't be changed` <br>
üí´ `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‚Äòa‚Äô, print the value of a and type(a).

In [1]:
# create empty list, name it 'a'

a = ["Apple",10, 13.5,"orange"]

In [2]:
# print the value of a

print(a)

['Apple', 10, 13.5, 'orange']

In [3]:
# print the type of a
type(a)

list

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [4]:
languages = ['R','Python','SAS','Scala',42]

Print the number of elements in the list

In [5]:
len(languages)

5

Using for loop iterate and print all the elements in the list

In [6]:
for i in languages:
  print(i)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [7]:
temp = languages[1]

Print the value of temp and type(temp)

In [8]:
print(temp)

Python

Append the element 'Java' in the list

In [9]:
languages.append('Java')

Remove the element 42 from the list and print the list

In [10]:
print(languages)

['R', 'Python', 'SAS', 'Scala', 42, 'Java']

In [11]:

languages.remove(42)

In [12]:
print(languages)

['R', 'Python', 'SAS', 'Scala', 'Java']

### Create a list, colors = [‚ÄòRed‚Äô, ‚ÄòBlue‚Äô, ‚ÄòWhite‚Äô]

In [13]:
colors = ['Red','Blue','White']

Append the element 'Black' to colors

In [14]:
colors.append('Black')

Append the color 'Orange' to second position (index=1) and print the list

In [15]:
print(colors)

['Red', 'Blue', 'White', 'Black']

In [16]:
colors.insert(1,"Orange")

Print the list

In [17]:
colors

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‚ÄòGrey‚Äô, ‚ÄòSky Blue‚Äô]

In [18]:
colors2 = ['Grey','Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [19]:
colors.extend(colors2)

In [20]:
colors

['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Print len of colors and its elements

In [21]:
print(len(colors))

7

Sort the list and print it.

In [22]:
colors.sort()

In [23]:
print(colors)

['Black', 'Blue', 'Grey', 'Orange', 'Red', 'Sky Blue', 'White']

### Create a string, sent = ‚ÄòCoronavirus Caused Lockdowns Around The World.‚Äù

In [24]:
sent = 'Coronavirus Caused Lockdowns Around The World'

Use split function to convert the string into a list of words and save it in variable words and print the same

In [25]:
words = sent.split()

In [26]:
print(words)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World']

Convert each word in the list to lower case and store it in variable words_lower.
Print words_lower

In [27]:
word_lower =  [x.lower() for x in words ]
print(word_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world']

Check whether ‚Äòcountry‚Äô is in the list

In [28]:
"country" in word_lower

False

Remove the element ‚Äòthe‚Äô from the list and print the list.

In [29]:
word_lower.remove("the")

In [30]:
print(word_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'world']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [31]:
x4 = word_lower[:4]

In [32]:
# print x4
print(x4)

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [33]:
x = "".join(word_lower)
print(x)

coronaviruscausedlockdownsaroundworld

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [34]:
stud_grades = ['A','A','B','C','C','F']

Print the len of stud_grades

In [35]:
len(stud_grades)

6

Create a new variable, stud_grades_set = set(stud_grades)

In [36]:
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [37]:
print(stud_grades_set)

{'A', 'B', 'F', 'C'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [38]:
type(stud_grades)

list

In [39]:
type(stud_grades_set)

set

In [40]:
print(stud_grades)

['A', 'A', 'B', 'C', 'C', 'F']

In [41]:
print(stud_grades_set)

{'A', 'B', 'F', 'C'}

Add a new element ‚ÄòG‚Äô to stud_grades_set

In [42]:
stud_grades_set.add('G')

Add element 'F' to stud_grades_set. and print it.

In [43]:
stud_grades.append("F")

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‚ÄòF‚Äô from stud_grades_set

In [44]:
print(stud_grades_set)

{'A', 'G', 'B', 'F', 'C'}

In [45]:
print(stud_grades_set)

{'A', 'G', 'B', 'F', 'C'}

In [46]:
stud_grades_set.remove("F")

Print the elements and the length of stud_grades_set

In [47]:
print(stud_grades_set)

{'A', 'G', 'B', 'C'}

In [48]:
len(stud_grades_set)

4

### Create colors = [‚Äòred‚Äô,‚Äôblue‚Äô,‚Äôorange‚Äô], and fruits = [‚Äòorange‚Äô,‚Äôgrapes‚Äô,‚Äôapples‚Äô]

In [49]:
colors = ['red','blue','orange']

fruits = ['orange','grapes','apples']

Print color and fruits

In [50]:
print(colors)
print(fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [51]:
colors_set = set(colors)
fruits_set = set (fruits)

Find the union of both the sets.

In [52]:
print(colors_set.union(fruits_set))

{'blue', 'apples', 'grapes', 'orange', 'red'}

Find the intersection of both the sets

In [53]:
print(colors_set.intersection(fruits_set))

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [54]:
print(colors_set.difference(fruits_set))

{'blue', 'red'}

## TUPLES

### Create temp = [17, ‚ÄôVirat‚Äô, 50.0]

In [63]:
temp = [17,'Virat',50.0]

Iterate through temp and print all the items in temp

In [64]:
for i in temp :
  print(i)

17
Virat
50.0

replace first element with 11 in temp

In [65]:
temp[0] = 11

In [66]:
print(temp)

[11, 'Virat', 50.0]

Set temp1 = tuple(temp)

In [69]:
temp1 = tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [71]:
for i in temp1:
  print(i)

11
Virat
50.0

replace first element with 17 in temp1

In [72]:
type(temp1)

tuple

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [75]:
city = ("Bangalore",28.9949521,72)

Print first element of city

In [76]:
print(city[0])

Bangalore

Create city2 = (‚ÄòChennai‚Äô, 30.01, 74)

In [77]:
city2 = ('Chennai',30.01,74)

Create cities which consist of city and city2

In [78]:
cities = city + city2

Print cities

In [79]:
print(cities)

('Bangalore', 28.9949521, 72, 'Chennai', 30.01, 74)

Print type of first element in cities

In [80]:
print(type(cities[0]))

<class 'str'>

print the type of cities

In [81]:
type(cities)

tuple

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [82]:
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‚Äòactor‚Äô] to a new variable actor.

In [84]:
new_d = d['actor']

In [85]:
print(new_d)

amir

Print the type of actor

In [86]:
type(d['actor'])

str

Store the value of d[‚Äòlist‚Äô] in new variable List.

In [87]:
new_list = d['list']

Print the type of List.

In [88]:
print(type(d['list']))

<class 'list'>

Create d1 = { ‚Äòsinger‚Äô : ‚ÄòKr$na‚Äô , ‚Äòalbum‚Äô: ‚ÄòStill here‚Äô, ‚Äògenre‚Äô : ‚Äòhip-hop‚Äô}

In [89]:
d1 = { "singer" : "Kr$na", "album": "Still here", "genre" : "hip-hop"}

Merge d1 into d.

In [92]:
d = d1 | d

print d

In [93]:
print(d)

{'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop', 'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12]}

Print all the keys in d

In [94]:
print(d.keys()) #prints keys

dict_keys(['singer', 'album', 'genre', 'actor', 'animal', 'earth', 'list'])

Print all the values in d

In [95]:
print(d.values()) #prints values

dict_values(['Kr$na', 'Still here', 'hip-hop', 'amir', 'cat', 2, [23, 32, 12]])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [98]:
for key  in d:
  print(key,"---->",d[key] )

singer ----> Kr$na
album ----> Still here
genre ----> hip-hop
actor ----> amir
animal ----> cat
earth ----> 2
list ----> [23, 32, 12]

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [101]:
sent = "I am an LCT student"
char_count = {}

for char in sent:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

for char, count in char_count.items():
    print(f"'{char}': {count}")

'I': 1
' ': 4
'a': 2
'm': 1
'n': 2
'L': 1
'C': 1
'T': 1
's': 1
't': 2
'u': 1
'd': 1
'e': 1